<div class="card">
    <div class="card-header">
        Welcome
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="text-center">
                <img src="https://raw.githubusercontent.com/DeborahK/Angular-GettingStarted/master/APM-Final/src/assets/images/logo.jpg" class="img-responsive center-block"
                    style="max-height:300px;padding-bottom:50px" />
            </div>

            <div class="text-center">Developed by:</div>
            <div class="text-center">
                <h3>Vasitha KA</h3>
            </div>

            <div class="text-center">@panaceata</div>
            <div class="text-center">
                <a href="http://panaceata.com/">www.panaceata.com</a>
            </div>
        </div>
    </div>
</div>